.switch {
    width: 50px;
    height: 20px;
    position: absolute;
    right: 1em;
    border-radius: 20px;
    cursor: pointer;
    @include transition(box-shadow 0.5s, background 0.5s);
    .theme-glossy & {
        @include background(linear-gradient(darken(green, 10%) 0%, green 20%, darken(green, 10%) 80%));
        &:hover {
            @include background(linear-gradient(darken(green, 10%) 0%, lighten(green, 10%) 20%, darken(green, 10%) 80%));
        }
        @include box-shadow(0 -2px 3px 2px rgba(black, 0.2), 0 2px 3px 2px rgba(lighten(white, 20%), 0.2), 0 0px 5px black inset);
        border: 1px solid transparent;
    }
    .theme-simple & {
        background: lightgray;
        border: 1px solid gray;
        &:hover {
            background: lighten(green, 10%);
        }
    }
    .rider {
        @include transition(left 0.5s);
        background-color: gray;
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        .theme-simple & {
            left: 30px;
        }
        .theme-glossy & {
            @include box-shadow(0 -2px 2px 2px rgba(black, 0.2) inset, 0 2px 3px 2px rgba(lighten(white, 20%), 0.2) inset, 0 1px 2px 1px rgba(lighten(black, 20%), 0.5));
        }
    }
    &:hover {
        .rider {
            left: 15px;
        }
    }
}

